<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
    </startup>
  <appSettings>
    <add key="sourceServer"        value="YOURSERVERADDRESS:YOURPORT"/>
    <add key="authDatabaseName"    value="admin"/>
    <add key="sourceDatabaseName"  value="YOUR_SOURCE_DATABASE"/>
    <add key="sourceUsername"      value="LOGIN"/>
    <add key="sourcePassword"      value="PASSWORD"/>
    <add key="mongoQuery"          value=""/>
    <add key="outputCSV"           value="YOURPATH\out.csv"/>
  </appSettings>
</configuration>